.primary-color {
  color: #6358dc;
}

.app-bg-color {
  background-color: #f4f4f4;
}

.border-color-grey {
  border-color: #e2e2e2;
}

.line-color {
  border-color: #bfbfbf !important;
}

.mat-form-field-bg-color {
  background-color: #f4f4f4;
}
