.mb-50 {
  margin-bottom: 50px;
}

.card-container {
  padding: 30px 50px;
}

.btn-class {
  padding: 12px;
  border-radius: 16px;
  background-color: #6358dc;
  color: white;
  border: none;
  margin-top: 5px;
}

.gap-5 {
  gap: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
